.top-row {
  /* background-color: rgb(222, 233, 233); */
  height: 40px;
}
.logout-ancor {
  float: left;
  color: black;
  text-decoration: none;
  font-size: 15px;
  width: 40% !important;
}
.logout-ancor:hover {
  color: rgb(43, 38, 38);
}
.logout-icon {
  height: 20px;
  width: 20px;
}
.icon {
  margin: 5px 25px 0px 0px;
  height: 3rem;
  width: 9rem;
  float: right;
}
/* ******************* */
.user-details {
  background-color: #ffea32;
  height: 10rem;
}
.user-icon {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin-left: 4rem;
  background-color: black;
}
.user-name {
  float: left;
}

.Left-logo {
  height: 8rem;
  width: 11rem;
  float: right;
  margin: 0px 10px 0px 0px;
}

.col3 {
  background-color: rgb(45, 49, 49);
  height: 2rem;
  width: 70%;
}
.col4 {
  margin-top: 10px;
  background-color: rgb(57, 99, 99);
  height: 20rem;
  width: 70%;
}
.row1 {
  background-color: aqua;
  height: 20rem;
  width: 120px;
}
.row2 {
  background-color: aqua;
  height: 20rem;
  width: 70%;
  margin-left: 10px;
}
